In [46]:
#Importacion de la libreria
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df = pd.read_csv("C:/Users/Layla/Desktop/Docencia/Coder House/Materiales complementarios/Mod 7 - Data Science/1. Modelos de Ensamble y Boosting Models/Desafio/Titanic.csv", sep = ",")
df

     Survived  Pclass  Sex   Age  SibSp  Parch
0           0       3    0  22.0      1      0
1           1       1    1  38.0      1      0
2           1       3    1  26.0      0      0
3           1       1    1  35.0      1      0
4           0       3    0  35.0      0      0
..        ...     ...  ...   ...    ...    ...
709         0       3    1  39.0      0      5
710         0       2    0  27.0      0      0
711         1       1    1  19.0      0      0
712         1       1    0  26.0      0      0
713         0       3    0  32.0      0      0

[714 rows x 6 columns]

In [47]:
#Separación en X e y
X = df.drop("Survived", axis=1) 
y = df.Survived

In [48]:
#Train y Test
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=42)

1. Entrenar un modelo de AdaBoostClassifier con n_estimators=50 , learning_rate=1. Además, se deberá calcular las métricas en Train y Test asociadas.

In [1]:
###Completar

In [2]:
###Completar

In [3]:
###Completar

In [4]:
###Completar

2. Entrenar un modelo de XGBClassifier con objective='binary:logistic',  n_estimators=10, seed=123. Además, se deberá calcular las métricas en Train y Test asociadas.

In [5]:
###Completar

In [6]:
###Completar

In [7]:
###Completar

3. Entrenar un modelo de LGBMClassifier() . Además, se deberá calcular las métricas en Train y Test asociadas.

In [8]:
###Completar

In [9]:
###Completar

In [10]:
###Completar

4. Entrenar un modelo de GradientBoostingClassifier con random_state = 0. Además, se deberá calcular las métricas en Train y Test asociadas.

In [11]:
###Completar

In [12]:
###Completar

In [13]:
###Completar