In [1]:
# Importar pandas
import pandas as pd

Ejercicio 1 --> Construir un objeto de series de tiempo con el índice igual al año de los juegos olímpicos

In [10]:
data = pd.read_csv("./Summer-Olympic-medals-1976-to-2008.csv", encoding='latin-1', index_col=["Year"])
data

,City,Sport,Discipline,Event,Athlete,Gender,Country_Code,Country,Event_gender,Medal
Year,,,,,,,,,,
1976.0,Montreal,Aquatics,Diving,3m springboard,"KÖHLER, Christa",Women,GDR,East Germany,W,Silver
1976.0,Montreal,Aquatics,Diving,3m springboard,"KOSENKOV, Aleksandr",Men,URS,Soviet Union,M,Bronze
1976.0,Montreal,Aquatics,Diving,3m springboard,"BOGGS, Philip George",Men,USA,United States,M,Gold
1976.0,Montreal,Aquatics,Diving,3m springboard,"CAGNOTTO, Giorgio Franco",Men,ITA,Italy,M,Silver
1976.0,Montreal,Aquatics,Diving,10m platform,"WILSON, Deborah Keplar",Women,USA,United States,W,Bronze
...,...,...,...,...,...,...,...,...,...,...
2008.0,Beijing,Wrestling,Wrestling Gre-R,66 - 74kg,"GUENOT, Christophe",Men,FRA,France,M,Bronze
2008.0,Beijing,Wrestling,Wrestling Gre-R,66 - 74kg,"KVIRKELIA, Manuchar",Men,GEO,Georgia,M,Gold
2008.0,Beijing,Wrestling,Wrestling Gre-R,55 - 60kg,"RAHIMOV, Vitaliy",Men,AZE,Azerbaijan,M,Silver
2008.0,Beijing,Wrestling,Wrestling Gre-R,60 - 66kg,"GUENOT, Steeve",Men,FRA,France,M,Gold
2008.0,Beijing,Wrestling,Wrestling Gre-R,96 - 120kg,"LOPEZ, Mijain",Men,CUB,Cuba,M,Gold

In [15]:
time_serie = data['Medal'].squeeze()
time_serie

Year
1976.0    Silver
1976.0    Bronze
1976.0      Gold
1976.0    Silver
1976.0    Bronze
           ...
2008.0    Bronze
2008.0      Gold
2008.0    Silver
2008.0      Gold
2008.0      Gold
Name: Medal, Length: 15433, dtype: object

Ejercicio 2 --> Separar nombres de apellidos en dos columnas distintas usando la coma como separador

In [21]:
data[['First Name','Last Name']] = data.Athlete.str.split(", ",1,expand=True)
data

,City,Sport,Discipline,Event,Athlete,Gender,Country_Code,Country,Event_gender,Medal,First Name,Last Name
Year,,,,,,,,,,,,
1976.0,Montreal,Aquatics,Diving,3m springboard,"KÖHLER, Christa",Women,GDR,East Germany,W,Silver,KÖHLER,Christa
1976.0,Montreal,Aquatics,Diving,3m springboard,"KOSENKOV, Aleksandr",Men,URS,Soviet Union,M,Bronze,KOSENKOV,Aleksandr
1976.0,Montreal,Aquatics,Diving,3m springboard,"BOGGS, Philip George",Men,USA,United States,M,Gold,BOGGS,Philip George
1976.0,Montreal,Aquatics,Diving,3m springboard,"CAGNOTTO, Giorgio Franco",Men,ITA,Italy,M,Silver,CAGNOTTO,Giorgio Franco
1976.0,Montreal,Aquatics,Diving,10m platform,"WILSON, Deborah Keplar",Women,USA,United States,W,Bronze,WILSON,Deborah Keplar
...,...,...,...,...,...,...,...,...,...,...,...,...
2008.0,Beijing,Wrestling,Wrestling Gre-R,66 - 74kg,"GUENOT, Christophe",Men,FRA,France,M,Bronze,GUENOT,Christophe
2008.0,Beijing,Wrestling,Wrestling Gre-R,66 - 74kg,"KVIRKELIA, Manuchar",Men,GEO,Georgia,M,Gold,KVIRKELIA,Manuchar
2008.0,Beijing,Wrestling,Wrestling Gre-R,55 - 60kg,"RAHIMOV, Vitaliy",Men,AZE,Azerbaijan,M,Silver,RAHIMOV,Vitaliy
2008.0,Beijing,Wrestling,Wrestling Gre-R,60 - 66kg,"GUENOT, Steeve",Men,FRA,France,M,Gold,GUENOT,Steeve
2008.0,Beijing,Wrestling,Wrestling Gre-R,96 - 120kg,"LOPEZ, Mijain",Men,CUB,Cuba,M,Gold,LOPEZ,Mijain

Ejercicio 3 --> Obtener medidas resumen del conjunto de datos. Cuál es el país que ganó más medallas?

In [60]:
data.groupby(['Country_Code']).size().sort_values(ascending=False).to_frame('Medals').iloc[0,:]

Medals    1992
Name: USA, dtype: int64

Ejercicio 4 --> Construir una tabla que muestre cuántas medallas obtuvieron los hombres en total en cada año que se realizó el evento.

In [53]:
data_filtered = data[(data.Gender == "Men")].groupby(['Year']).size().to_frame('Medals')
data_filtered

        Medals
Year
1976.0     924
1980.0     958
1984.0     973
1988.0    1011
1992.0    1105
1996.0    1082
2000.0    1126
2004.0    1099
2008.0    1110