In [3]:
import pandas as pd
import numpy as np

In [47]:
df = pd.DataFrame({'key1' : ['a', 'a', 'b', 'b', 'a'],
'key2' : ['one', 'two', 'one', 'two', 'one'],
'data1' : np.random.randn(5),
'data2' : np.random.randn(5)})

In [48]:
df

  key1 key2     data1     data2
0    a  one  0.141115 -1.045081
1    a  two -1.173841 -1.007433
2    b  one  0.320391  0.382448
3    b  two -1.396914 -0.560845
4    a  one  0.658450  0.454348

In [49]:
grouped = df['data1'].groupby(df['key1'])

In [50]:
grouped

In [51]:
grouped.mean()

key1
a   -0.124759
b   -0.538261
Name: data1, dtype: float64

# Mas de un Ã­ndice

In [52]:
means = df['data1'].groupby([df['key1'], df['key2']]).mean()

In [53]:
means

key1  key2
a     one     0.399782
      two    -1.173841
b     one     0.320391
      two    -1.396914
Name: data1, dtype: float64

In [54]:
df['data1'].groupby([df['key1'], df['key2']]).aggregate(np.std)

key1  key2
a     one     0.365811
      two          NaN
b     one          NaN
      two          NaN
Name: data1, dtype: float64

# Pivot

In [12]:
# importing pandas as pd
import pandas as pd
  
# creating a dataframe
df = pd.DataFrame({'A': ['John', 'Boby', 'Mina'],
      'B': ['Masters', 'Graduate', 'Graduate'],
      'C': [27, 23, 21]})

In [13]:
df

      A         B   C
0  John   Masters  27
1  Boby  Graduate  23
2  Mina  Graduate  21

In [40]:
df.pivot(columns='B')

         A                C
B Graduate Masters Graduate Masters
0      NaN    John      NaN    27.0
1     Boby     NaN     23.0     NaN
2     Mina     NaN     21.0     NaN

In [19]:
df.pivot(index ='A', columns ='B', values =['C'])

            C
B    Graduate Masters
A
Boby     23.0     NaN
John      NaN    27.0
Mina     21.0     NaN

In [31]:
dfp = df.pivot(index ='A', columns ='B', values =['C', 'A'])

In [41]:
df1 = pd.DataFrame({'A': ['John', 'John', 'Mina'],
      'B': ['Masters', 'Masters', 'Graduate'],
      'C': [27, 23, 21]})

In [42]:
df1

      A         B   C
0  John   Masters  27
1  John   Masters  23
2  Mina  Graduate  21

In [43]:
df1.pivot(index='A',columns= 'B',values= 'C')

ValueError: Index contains duplicate entries, cannot reshape