**Diagnose the Data**

In [5]:
import pandas as pd

df1 = pd.read_csv("df1.csv")
df2 = pd.read_csv("df2.csv")

print(df1.head())

print(df2.head())

clean=2

  Grocery Item  Cake Recipe  Pancake Recipe  Cookie Recipe
0         Eggs            2               3              1
1         Milk            1               2              1
2        Flour            2               1              2
  Grocery Item          Recipe  Number
0         Eggs     Cake Recipe       2
1         Milk     Cake Recipe       1
2        Flour     Cake Recipe       2
3         Eggs  Pancake Recipe       3
4         Milk  Pancake Recipe       2

**Dealing with Multiple Files**

In [24]:
import glob

student_files = glob.glob('data/exams*.csv')

df_list = []

for file in student_files:
    data = pd.read_csv(file)
    df_list.append(data)
    
students = pd.concat(df_list)
students.head()

   id        full_name gender_age fractions probability       grade
0   0   Barrett Feragh        M14       76%         72%   9th grade
1   1  Llewellyn Keech        M14       83%         NaN  12th grade
2   2  Llewellyn Keech        M14       83%         NaN  12th grade
3   3     Terrell Geri        M15       80%         86%  11th grade
4   4   Gram Hallewell        M14       67%         78%  10th grade

In [16]:
len(students)

1000

**Reshaping your Data**

In [18]:
students.columns

Index(['id', 'full_name', 'gender_age', 'fractions', 'probability', 'grade'], dtype='object')

In [25]:
# There is a column for the scores on the fractions exam, 
# and a column for the scores on the probabilities exam.
# We want to make each row an observation, 
students = pd.melt(frame = students, id_vars=['full_name', 'gender_age', 'grade'],\
                   value_vars=['fractions', 'probability'], value_name='score', var_name='exam')

In [27]:
students.head()

print(students.head())
print(students.columns)
print(students['exam'].value_counts())

         full_name gender_age       grade       exam score
0   Barrett Feragh        M14   9th grade  fractions   76%
1  Llewellyn Keech        M14  12th grade  fractions   83%
2  Llewellyn Keech        M14  12th grade  fractions   83%
3     Terrell Geri        M15  11th grade  fractions   80%
4   Gram Hallewell        M14  10th grade  fractions   67%
Index(['full_name', 'gender_age', 'grade', 'exam', 'score'], dtype='object')
fractions      1000
probability    1000
Name: exam, dtype: int64

**Dealing with Duplicates**

In [30]:
duplicates = students.duplicated()
print(duplicates.value_counts())

False    1976
True       24
dtype: int64

In [32]:
students = students.drop_duplicates()

duplicates = students.duplicated()
print(duplicates.value_counts())

False    1976
dtype: int64

**Splitting by Index**

In [33]:
# The column gender_age sounds like it contains both gender and age
students['gender_age'].head()

0    M14
1    M14
3    M15
4    M14
5    F18
Name: gender_age, dtype: object

In [34]:
students['gender'] = students['gender_age'].str[0:1]
students['age'] = students['gender_age'].str[1:]

students.head()

         full_name gender_age       grade       exam score gender age
0   Barrett Feragh        M14   9th grade  fractions   76%      M  14
1  Llewellyn Keech        M14  12th grade  fractions   83%      M  14
3     Terrell Geri        M15  11th grade  fractions   80%      M  15
4   Gram Hallewell        M14  10th grade  fractions   67%      M  14
5   Stephana Boots        F18   9th grade  fractions   NaN      F  18

In [35]:
studens = students[['full_name', 'grade', 'exam', 'score', 'gender','age']]
studens.head()

         full_name       grade       exam score gender age
0   Barrett Feragh   9th grade  fractions   76%      M  14
1  Llewellyn Keech  12th grade  fractions   83%      M  14
3     Terrell Geri  11th grade  fractions   80%      M  15
4   Gram Hallewell  10th grade  fractions   67%      M  14
5   Stephana Boots   9th grade  fractions   NaN      F  18

**Splitting by Character**

In [36]:
name_split = students['full_name'].str.split(" ")
students['first_name'] = name_split.str.get(0)
students['last_name'] = name_split.str.get(1)

print(students.head())

         full_name gender_age       grade       exam score gender age  \
0   Barrett Feragh        M14   9th grade  fractions   76%      M  14
1  Llewellyn Keech        M14  12th grade  fractions   83%      M  14
3     Terrell Geri        M15  11th grade  fractions   80%      M  15
4   Gram Hallewell        M14  10th grade  fractions   67%      M  14
5   Stephana Boots        F18   9th grade  fractions   NaN      F  18

  first_name  last_name
0    Barrett     Feragh
1  Llewellyn      Keech
3    Terrell       Geri
4       Gram  Hallewell
5   Stephana      Boots

**Looking at types**

In [37]:
print(students.dtypes)

print(students.score.mean())

full_name     object
gender_age    object
grade         object
exam          object
score         object
gender        object
age           object
first_name    object
last_name     object
dtype: object

TypeError: can only concatenate str (not "int") to str

**String Parsing**

In [38]:
students.score = students['score'].replace('[\%,]', '', regex=True)
students.score = pd.to_numeric(students['score'])

print(students.score[0])

76.0

In [39]:
print(students.grade.head())

students.grade = students.grade.str.split('(\d+)', expand=True)[1]

print(students.dtypes)

students.grade = pd.to_numeric(students.grade)
avg_grade = students.grade.mean()

print(avg_grade)

0     9th grade
1    12th grade
3    11th grade
4    10th grade
5     9th grade
Name: grade, dtype: object
full_name      object
gender_age     object
grade          object
exam           object
score         float64
gender         object
age            object
first_name     object
last_name      object
dtype: object
10.620445344129555

**Missing Values**

In [40]:
score_mean = students.score.mean()

print(score_mean)

students = students.fillna(0)

score_mean_2 = students.score.mean()

print(score_mean_2)

77.69657422512235
72.30971659919028