In [1]:
import pandas as pd

In [80]:
_headers = ['buying', 'maint' , 'doors', 'persons', 'lug_boot', 'safety', 'car']

df = pd.read_csv('car.data', names=_headers, index_col=None)
df.head()

  buying  maint doors persons lug_boot safety    car
0  vhigh  vhigh     2       2    small    low  unacc
1  vhigh  vhigh     2       2    small    med  unacc
2  vhigh  vhigh     2       2    small   high  unacc
3  vhigh  vhigh     2       2      med    low  unacc
4  vhigh  vhigh     2       2      med    med  unacc

In [3]:
df.tail()

     buying main  doors persons lug_boot safety    car
1723    low  low  5more    more      med    med   good
1724    low  low  5more    more      med   high  vgood
1725    low  low  5more    more      big    low  unacc
1726    low  low  5more    more      big    med   good
1727    low  low  5more    more      big   high  vgood

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1728 entries, 0 to 1727
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   buying    1728 non-null   object
 1   main      1728 non-null   object
 2    doors    1728 non-null   object
 3   persons   1728 non-null   object
 4   lug_boot  1728 non-null   object
 5   safety    1728 non-null   object
 6   car       1728 non-null   object
dtypes: object(7)
memory usage: 94.6+ KB

In [5]:
from sklearn.model_selection import train_test_split

In [21]:
training_df, eval_df = train_test_split(df, train_size=0.8, random_state=1)

In [22]:
eval_df.head()

     buying  main  doors persons lug_boot safety    car
1233    med   low      3    more    small    low  unacc
592    high  high      3    more      big    med    acc
625    high  high  5more       2      med    med  unacc
1546    low   med      3       2      big    med  unacc
730    high   med  5more       2    small    med  unacc

In [8]:
training_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1382 entries, 1417 to 490
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   buying    1382 non-null   object
 1   main      1382 non-null   object
 2    doors    1382 non-null   object
 3   persons   1382 non-null   object
 4   lug_boot  1382 non-null   object
 5   safety    1382 non-null   object
 6   car       1382 non-null   object
dtypes: object(7)
memory usage: 86.4+ KB

In [10]:
eval_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 346 entries, 777 to 438
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   buying    346 non-null    object
 1   main      346 non-null    object
 2    doors    346 non-null    object
 3   persons   346 non-null    object
 4   lug_boot  346 non-null    object
 5   safety    346 non-null    object
 6   car       346 non-null    object
dtypes: object(7)
memory usage: 21.6+ KB

# Cross Validation

In [25]:
from sklearn.model_selection import KFold

In [26]:
_kf = KFold(n_splits=5)

In [46]:
indices = _kf.split(df)

In [47]:
print(indices)

<generator object _BaseKFold.split at 0x7fd531cdfd60>

In [52]:
train_indeces, val_indices = next(indices)

In [53]:
train_df = df.drop(val_indices)
train_df.head()

  buying   main  doors persons lug_boot safety    car
0  vhigh  vhigh      2       2    small    low  unacc
1  vhigh  vhigh      2       2    small    med  unacc
2  vhigh  vhigh      2       2    small   high  unacc
3  vhigh  vhigh      2       2      med    low  unacc
4  vhigh  vhigh      2       2      med    med  unacc

In [54]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1382 entries, 0 to 1727
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   buying    1382 non-null   object
 1   main      1382 non-null   object
 2    doors    1382 non-null   object
 3   persons   1382 non-null   object
 4   lug_boot  1382 non-null   object
 5   safety    1382 non-null   object
 6   car       1382 non-null   object
dtypes: object(7)
memory usage: 86.4+ KB

In [55]:
val_df = df.drop(train_indeces)
val_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 346 entries, 346 to 691
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   buying    346 non-null    object
 1   main      346 non-null    object
 2    doors    346 non-null    object
 3   persons   346 non-null    object
 4   lug_boot  346 non-null    object
 5   safety    346 non-null    object
 6   car       346 non-null    object
dtypes: object(7)
memory usage: 21.6+ KB

In [56]:
n_splits=5

In [57]:
_kf = KFold(n_splits=n_splits)
_indices = _kf.split(df)

In [58]:
# crear una lista para guardar los Df de entrenamiento y validación
_t, _v = [], []

In [59]:
# iteración sobre _indices
for i in range(n_splits):
    train_idx, val_idx = next(_indices)
    _train_df = df.drop(val_idx)
    _t.append(_train_df)
    _val_df = df.drop(train_idx)
    _v.append(_val_df)

In [62]:
for train_data in _t:
    print(train_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1382 entries, 346 to 1727
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   buying    1382 non-null   object
 1   main      1382 non-null   object
 2    doors    1382 non-null   object
 3   persons   1382 non-null   object
 4   lug_boot  1382 non-null   object
 5   safety    1382 non-null   object
 6   car       1382 non-null   object
dtypes: object(7)
memory usage: 75.7+ KB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1382 entries, 0 to 1727
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   buying    1382 non-null   object
 1   main      1382 non-null   object
 2    doors    1382 non-null   object
 3   persons   1382 non-null   object
 4   lug_boot  1382 non-null   object
 5   safety    1382 non-null   object
 6   car       1382 non-null   object
dtypes: object(7)
memory usage: 86.4+ KB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1382 entries, 0 to 1727
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   buying    1382 non-null   object
 1   main      1382 non-null   object
 2    doors    1382 non-null   object
 3   persons   1382 non-null   object
 4   lug_boot  1382 non-null   object
 5   safety    1382 non-null   object
 6   car       1382 non-null   object
dtypes: object(7)
memory usage: 86.4+ KB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1383 entries, 0 to 1727
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   buying    1383 non-null   object
 1   main      1383 non-null   object
 2    doors    1383 non-null   object
 3   persons   1383 non-null   object
 4   lug_boot  1383 non-null   object
 5   safety    1383 non-null   object
 6   car       1383 non-null   object
dtypes: object(7)
memory usage: 86.4+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1383 entries, 0 to 1382
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   buying    1383 non-null   object
 1   main      1383 non-null   object
 2    doors    1383 non-null   object
 3   persons   1383 non-null   object
 4   lug_boot  1383 non-null   object
 5   safety    1383 non-null   object
 6   car       1383 non-null   object
dtypes: object(7)
memory usage: 75.8+ KB
None

In [64]:
for val_data in _v:
    print(val_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 346 entries, 0 to 345
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   buying    346 non-null    object
 1   main      346 non-null    object
 2    doors    346 non-null    object
 3   persons   346 non-null    object
 4   lug_boot  346 non-null    object
 5   safety    346 non-null    object
 6   car       346 non-null    object
dtypes: object(7)
memory usage: 19.0+ KB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 346 entries, 346 to 691
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   buying    346 non-null    object
 1   main      346 non-null    object
 2    doors    346 non-null    object
 3   persons   346 non-null    object
 4   lug_boot  346 non-null    object
 5   safety    346 non-null    object
 6   car       346 non-null    object
dtypes: object(7)
memory usage: 21.6+ KB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 346 entries, 692 to 1037
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   buying    346 non-null    object
 1   main      346 non-null    object
 2    doors    346 non-null    object
 3   persons   346 non-null    object
 4   lug_boot  346 non-null    object
 5   safety    346 non-null    object
 6   car       346 non-null    object
dtypes: object(7)
memory usage: 21.6+ KB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 345 entries, 1038 to 1382
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   buying    345 non-null    object
 1   main      345 non-null    object
 2    doors    345 non-null    object
 3   persons   345 non-null    object
 4   lug_boot  345 non-null    object
 5   safety    345 non-null    object
 6   car       345 non-null    object
dtypes: object(7)
memory usage: 21.6+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 345 entries, 1383 to 1727
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   buying    345 non-null    object
 1   main      345 non-null    object
 2    doors    345 non-null    object
 3   persons   345 non-null    object
 4   lug_boot  345 non-null    object
 5   safety    345 non-null    object
 6   car       345 non-null    object
dtypes: object(7)
memory usage: 19.0+ KB
None

In [69]:
df.head()

  buying   main  doors persons lug_boot safety    car
0  vhigh  vhigh      2       2    small    low  unacc
1  vhigh  vhigh      2       2    small    med  unacc
2  vhigh  vhigh      2       2    small   high  unacc
3  vhigh  vhigh      2       2      med    low  unacc
4  vhigh  vhigh      2       2      med    med  unacc

In [66]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1728 entries, 0 to 1727
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   buying    1728 non-null   object
 1   main      1728 non-null   object
 2    doors    1728 non-null   object
 3   persons   1728 non-null   object
 4   lug_boot  1728 non-null   object
 5   safety    1728 non-null   object
 6   car       1728 non-null   object
dtypes: object(7)
memory usage: 94.6+ KB

In [70]:
df.columns

Index(['buying', 'main', ' doors', 'persons', 'lug_boot', 'safety', 'car'], dtype='object')

In [71]:
_df = pd.get_dummies(df, columns=['buying', 'maint', 'doors', 'persons', 'lug_boot', 'safety'])
_df.head()

,car,buying_high,buying_low,buying_med,buying_vhigh,main_high,main_low,main_med,main_vhigh,doors_2,...,doors_5more,persons_2,persons_4,persons_more,lug_boot_big,lug_boot_med,lug_boot_small,safety_high,safety_low,safety_med
0,unacc,0,0,0,1,0,0,0,1,1,...,0,1,0,0,0,0,1,0,1,0
1,unacc,0,0,0,1,0,0,0,1,1,...,0,1,0,0,0,0,1,0,0,1
2,unacc,0,0,0,1,0,0,0,1,1,...,0,1,0,0,0,0,1,1,0,0
3,unacc,0,0,0,1,0,0,0,1,1,...,0,1,0,0,0,1,0,0,1,0
4,unacc,0,0,0,1,0,0,0,1,1,...,0,1,0,0,0,1,0,0,0,1

In [78]:
features = _df.drop(['car'], axis=1).values
features

array([[0, 0, 0, ..., 0, 1, 0],
       [0, 0, 0, ..., 0, 0, 1],
       [0, 0, 0, ..., 1, 0, 0],
       ...,
       [0, 1, 0, ..., 0, 1, 0],
       [0, 1, 0, ..., 0, 0, 1],
       [0, 1, 0, ..., 1, 0, 0]], dtype=uint8)

In [76]:
target = _df[['car']].values.ravel()
target

array(['unacc', 'unacc', 'unacc', ..., 'unacc', 'good', 'vgood'],
      dtype=object)

In [81]:
from sklearn.linear_model import LogisticRegression
_lr = LogisticRegression()

In [82]:
from sklearn.model_selection import cross_val_score

In [83]:
_scores = cross_val_score(_lr, features, target, cv=5)

In [84]:
print(_scores) # R^2

[0.70231214 0.84971098 0.74566474 0.75652174 0.76231884]

In [88]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import GridSearchCV
import numpy as np

In [86]:
clf= DecisionTreeClassifier()

In [90]:
params = {'max_depth': np.arange(1,8)}

In [92]:
clf_cv = GridSearchCV(clf, param_grid=params, cv=5)

In [93]:
clf_cv.fit(features, target)

GridSearchCV(cv=5, estimator=DecisionTreeClassifier(),
             param_grid={'max_depth': array([1, 2, 3, 4, 5, 6, 7])})

print('Mejor Parametro para el árbol de decisión: {}'.format(clf_cv.best_params_))

In [96]:
model = clf_cv.best_estimator_
model

DecisionTreeClassifier(max_depth=2)