Measuring Times

In [48]:
import numpy as np
import timeit

listado=list(range(1001))

array=np.arange(1001)

def suma(listado):
    suma = 0
    for i in listado:
        suma += i
    return suma

%timeit suma(listado)

%timeit array.sum()

37.4 µs ± 2.39 µs per loop (mean ± std. dev. of 7 runs, 10,000 loops each)
1.96 µs ± 124 ns per loop (mean ± std. dev. of 7 runs, 100,000 loops each)

Ejercicio N 1

In [49]:

randomArray = np.random.randint(0, 100, 100)
randomArray

array([51, 53, 12, 86, 82, 99, 85, 73, 54,  8, 28, 59, 38, 48, 94, 87,  4,
        5, 85, 72, 22, 76, 10,  0, 71, 24, 31, 92, 48,  5, 79, 46, 35, 15,
       20, 61, 42, 82, 67, 89, 94, 55, 44, 58, 88,  6, 46, 14, 37, 88, 41,
       21, 59, 54,  1, 13, 78, 30, 70, 93, 80, 71, 97, 20, 36, 89, 90, 39,
       12, 85, 64, 14, 14, 94, 82, 89, 36, 41, 60,  2, 36, 92, 73, 63, 71,
       64, 57, 91, 63, 27, 96, 64, 70, 71, 35, 91, 94, 28, 37,  1])

In [50]:
randomArray_median = np.median(randomArray)
randomArray_median

57.5

Ejercicio N 2

In [51]:
import scipy.special # For calculating factorial, can accept np.ndarray

scipy.special.factorial(randomArray)

array([1.55111875e+066, 4.27488328e+069, 4.79001600e+008, 2.42270954e+130,
       4.75364334e+122, 9.33262154e+155, 2.81710411e+128, 4.47011546e+105,
       2.30843697e+071, 4.03200000e+004, 3.04888345e+029, 1.38683119e+080,
       5.23022617e+044, 1.24139156e+061, 1.08736616e+146, 2.10775730e+132,
       2.40000000e+001, 1.20000000e+002, 2.81710411e+128, 6.12344584e+103,
       1.12400073e+021, 1.88549470e+111, 3.62880000e+006, 1.00000000e+000,
       8.50478589e+101, 6.20448402e+023, 8.22283865e+033, 1.24384141e+142,
       1.24139156e+061, 1.20000000e+002, 8.94618213e+116, 5.50262216e+057,
       1.03331480e+040, 1.30767437e+012, 2.43290201e+018, 5.07580214e+083,
       1.40500612e+051, 4.75364334e+122, 3.64711109e+094, 1.65079552e+136,
       1.08736616e+146, 1.26964034e+073, 2.65827157e+054, 2.35056133e+078,
       1.85482642e+134, 7.20000000e+002, 5.50262216e+057, 8.71782912e+010,
       1.37637531e+043, 1.85482642e+134, 3.34525266e+049, 5.10909422e+019,
       1.38683119e+080, 2.30843697e+071, 1.00000000e+000, 6.22702080e+009,
       1.13242812e+115, 2.65252860e+032, 1.19785717e+100, 1.15677251e+144,
       7.15694570e+118, 8.50478589e+101, 9.61927597e+151, 2.43290201e+018,
       3.71993327e+041, 1.65079552e+136, 1.48571596e+138, 2.03978821e+046,
       4.79001600e+008, 2.81710411e+128, 1.26886932e+089, 8.71782912e+010,
       8.71782912e+010, 1.08736616e+146, 4.75364334e+122, 1.65079552e+136,
       3.71993327e+041, 3.34525266e+049, 8.32098711e+081, 2.00000000e+000,
       3.71993327e+041, 1.24384141e+142, 4.47011546e+105, 1.98260832e+087,
       8.50478589e+101, 1.26886932e+089, 4.05269195e+076, 1.35200153e+140,
       1.98260832e+087, 1.08888695e+028, 9.91677935e+149, 1.26886932e+089,
       1.19785717e+100, 8.50478589e+101, 1.03331480e+040, 1.35200153e+140,
       1.08736616e+146, 3.04888345e+029, 1.37637531e+043, 1.00000000e+000])

In [52]:
x = 8
y = 23

a = np.arange(x, y)
a[np.logical_and(a>=x,a<y+1)]
a.sum()

225

Ejercicio N 2 FIXED - Agrego funciones de la primer entrega

In [ ]:
def factorial(x):	# función “factorial”. 
    # Inicializo el resultado
    z = 1
    # ciclo for y calculo factorial
    for i in range(1, x+1):
        z *= i
    return z	

res = factorial(4)
print (res)

Ejercicio N 3

In [61]:
import pandas as pd
import numpy as np
import ast

def getArrayFromDrive():
    """La siguiente funcion obtiene el archivo en google Spreadsheet, lo transforma en un dataframe 
    y obtiene la columna a trabajar que es la columna de Salario mensual NETO y devuelve un numpy array luego 
    de haber borrado los valores nulos de la columna.
    
    """
    sheet_url = "https://docs.google.com/spreadsheets/d/15Stnum8mI9QdwF9ZiPFCe3_qG9XyZyNzmOSIDunzPjA/view#gid=255849258"
    url = sheet_url.replace("/view#gid=", "/export?format=csv&gid=")
    df = pd.read_csv(url)
    
    return pd.to_numeric(df["Salario mensual NETO (en tu moneda local)"],errors='coerce').dropna().to_numpy()

salario_neto = getArrayFromDrive()
salario_neto

array([4.3000e+04, 6.3000e+04, 1.2700e+05, ..., 4.5753e+01, 7.2000e+01,
       6.5000e+04])

In [62]:
#median value
median = np.median(salario_neto)
median

76000.0

In [63]:
#mean value
mean = np.mean(salario_neto)
mean

19306004.37798064